/****** Global Styles ******/

body {
    font-family: 'Source Sans 3', sans-serif;
    color: #5E5D5E;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}





/****** Header Styles ******/

.homepage-hero {
    background: url('../img/full-background.png') no-repeat #F9EFEF;
    background-size: cover;
    background-position: center;
    height: 750px;
}

header h1 {
    float: left;
    width: 300px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #7B7E54;
    padding: 65px 0px 65px 25px;
}

header nav {
    width: 800px;
    float: right;
    text-align: right;
    padding: 75px 25px 75px 0px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-transform: uppercase;
    font-size: 18px;
    color: #727172;
    padding-left: 80px;
}

header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    padding-left: 25px;
}

/****** About Styles ******/

#about .content-wrapper {
    padding: 80px 0;
}

#about h2 {
    font-size: 36px;
    font-family: 'Lora', serif;
    padding-left: 50px;
}

#about p {
    float: left;
    width: 500px;
    font-size: 20px;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}



/****** Skill Styles ******/

#skills {
    background: #F5F5F5;
    text-align: center;
}

#skills .content-wrapper {
    padding: 115px 0;
}

#skills .skill-list {
    float: left;
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
}

#skills h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-bottom: 40px;
}

#skills h3 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#skills p {
    font-size: 20px;
    line-height: 40px;
    text-align: left;
}

/****** Contact Styles ******/

#contact {
    background: #F9E9E9;
}

#contact .content-wrapper {
    padding: 110px 0;
}

.contact-image {
    float: left;
    width: 600px;
}

#contact-image {
    width: 500px;
    height: 300px;
    border: 15px #ffffff solid;
    box-sizing: border-box;
    margin: 0 50px;
}

.contact-info {
    float: left;
    width: 600px;
    padding-left: 100px;
    box-sizing: border-box;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 600;
    margin: 30px 0;
}

#contact h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

#contact #email-header {
    margin-bottom: 5px;
}

#contact #socials-header {
    margin: 20px 0 5px 0;
}

#envelope {
    margin-right: 5px;
}

#email-link {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: #5E5D5E;
}

#contact ul {
    margin-left: 0;
    padding-left: 0;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    padding-right: 40px;
}